html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background-color: green;
  font-family: sans-serif;
  border: black;
  border: 2px solid black;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#container {
  height: 100%;
  padding: 20px;
}

/*Intro-start game*/

#title-image {
  width: 50%;
  height: 100px;
  display: block;
  margin: auto;
}

ul {
  padding-left: 25%;
  color: white;
  border: black;
  border-style: solid;
}

#start-button {
  margin: auto;
  display: block;
  /*background-image: url("chip.png");*/
}

/*Deal n play */

/*Deal n play */

#deal-and-play {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dealer-cards {
  flex: 3;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.dealer-count {
  flex: 1;
  text-align: center;
}

.player-count {
  flex: 1;
  text-align: center;
}

.player-cards {
  flex: 3;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.player-actions {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.stats {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

/*end screen D-Bust*/

#winner {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 100px;
}

#restart-button {
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
}

.card {
  width: 100px;
  height: 150px;
  position: relative;
  top: 0;
  opacity: 1;
  transform: scale(1);
  transition: top 1s, opacity 0.5s;
}

.new-card {
  opacity: 0.1;
  top: -40vh;
}
